@import url('https://fonts.googleapis.com/css?family=Exo');

@font-face {
    font-family: 'LeagueSpartan-Bold';
    src: url(LeagueSpartan-Bold.otf) format("opentype");
}

body {
    font-family: 'LeagueSpartan-Bold';
    /* color: #C8C642; */
    
}
nav {
    
}
footer {
    background-color: black;
    font-family: 'Exo', sans-serif;
}
h1 {
    font-size: 8vh;
}

.navbar{
  font-family: 'Exo', sans-serif;
}
.border-bottom {
    border-color: #C8C642 !important;
}

.bkgd-color-blue {
    background-color: #083340;
}

.bkgd-color-grey {
    background-color: #262626;
}

.bkgd-color-plaid {

}
.nav-yellow {
    background-color: #C8C642;
}
.nav-light {
    background-color: #D8D8D8;
}
.nav-denim {

}

.text-yellow {
    color: #C8C642
}

.text-light {
    color: #D8D8D8
}