body {
    background-color: #083340;
    color: #C8C642;
}
nav {
    background-color: #C8C642;
}
footer {
    background-color: black;
}
h1 {
    font-size: 8vh;
}

.border-bottom {
    border-color: #C8C642 !important;
}
